/* Font families */
// $lora: 'Lora', serif;
// $poppins: 'Poppins', sans-serif;

/* Body colors */
$body_bg_color: #fdfdfd;

/* Main colors */
$blue: #0f5a7b;
$green: #608e2d;
$dark_black: #222222;
$light_black: #333333;
$white: #ffffff;
$black: #000000;
$selection_bg_color: $green;
$selection_text_color: $white;