header {
  background-color: gray;
  .nav-link {
    color: white;
    &.active {
      font-weight: bold;
      color: black;
    }
  }
  .nav-link[type="submit"] {
    background-color: transparent;
    border: none;
  }
}