/* ==========================================================================
[Posts]
========================================================================== */
.posts-section {
  .row-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 10px;
    > div {
      height: 400px;
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      a {
        position: relative;
        z-index: 3;
      }
      &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      &:after {
        right: 0;
        bottom: 0;
        margin: auto;
        // border: solid 5px white;
        background-color: rgba(0,0,0,0.3);
        z-index: 2;
        opacity: 0;
        transition: all 0.3s ease-in;
      }
      &:before {
        // background: linear-gradient(0deg, rgba(0,154,222,1) 0%, rgba(118,188,33,1) 100%); 
        // mix-blend-mode: multiply;
        // opacity: 0.3;
        // z-index: 1;
        // mix-blend-mode: hard-light;
        // transition: all 0.2s ease-in;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // filter: grayscale(0%);
      }
      .info {
        padding: 15px;
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 100%;
        a, span {
          color: white;
          text-decoration: none;
          font-family: "Rajdhani",sans-serif;
          text-transform: uppercase;
          font-weight: bold;
        }
        .top {
          display: flex;
          justify-content: space-between;
          width: 100%;
          a {
            font-size: 15px;
            font-weight: 500;
            &:before {
              content: "#";
            }
          }
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
      &:hover {
        &:before {
          opacity: 0;
        }
        &:after {
          // width: 90%;
          // height: 90%;
          opacity: 1;
        }
      }
    }
  }
  .row-bottom {
    .pagination {
      padding: 0 20px;
      li {
        list-style: none;
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
        &:hover a, &.active span {
          color: white;
          font-weight: bold;
          background: #009ade;
          border-color: transparent;
        }
      } 
    }
  }
}

@media only screen and (max-width: 1024px) {
  .posts-section {
    .row-top {
      grid-template-columns: 1fr 1fr 1fr;
      .container {
      }
    }
    .row-bottom {
      .pagination {
        display: flex;
        flex-wrap: wrap;
        li {
          a, span {
            margin: 10px 0 10px 0;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  .posts-section {
    .row-top {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media only screen and (max-width: 600px) {
  .posts-section {
    .row-top {
      grid-template-columns: 1fr;
    }
  }
}